* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 1.7;
    color: white;
    background:rgb(6, 53, 80);
    padding-left: 3.5rem;
}

.container {
    width: 90%;
    margin: 0, auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

a {
    color: white;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all;
}

.btn:hover {
    background: transparent;
    color: white;
    border-color: white;

}

.btn-primary {
    background: red;
    color: white;
}

/*********** NAV BAR *******************/

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 3rem;
}

.menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.menu a:hover {
    color: blueviolet;
}

.window-scroll {
    background: rgb(1, 78, 167);
    box-shadow: 0 1rem 2rem rgb(39, 37, 44);
    ;
}

/* ********************* HEADER ***************** */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.left p {
    margin: 1rem 0 2.4rem;
}

.icon-img {
    width: 50px; 
    height: auto; 
}


/* ************************* CATEGORIES ***************************/
.categories {
    background:rgba(89, 97, 247, 0.589);
    padding-left: 3.5rem; 
    padding-right: 3.5rem;
    height: 40rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__containers {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.categories__left p {
    margin: 1rem 0 3rem;
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.category {
    background:rgba(89, 97, 247, 0.589);
    padding: 1.2rem;
    border-radius: 2rem;
    transition: all 400ms ease;
}

.category:hover {
    box-shadow: 0 2rem 3rem rgb(89, 124, 240);
}

.category__icon {
    background: rgb(101, 71, 207);
    padding: 1.5rem;
    border-radius: 0.9rem;
}

.category h5 {
    margin: 0.5rem 0 1rem;
}

.category p {
    font-size: 0.8rem;
}


/* ***********************POPULAR SUBJECT ********************/

.courses {
    
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: rgb(83, 81, 223);
    text-align: center;
    border: 1px solid transparent;
    transition:  400ms ease;
}

.course:hover {
    background: transparent;
    border-color: rgb(23, 23, 233);
}

.course_info {
    padding: 1.5rem;
}

.course_info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}