/* *************ACHIEVEMENTS***************** */

.about_achivements {
    margin-top: 2.5rem;
}

.about_achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about_achievements-right > p {
    margin: 1.2rem 0 2.5rem;
}

.about_achievements_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievements_card {
    background: rgba(96, 104, 247, 0.836);
    padding: 2rem;
    border-radius: 2rem;
    text-align: justify;
    transition: all 400ms ease;
}

.achievements_card:hover {
    background: rgb(146, 169, 245);
    box-shadow: 0 3rem 3rem rgb(0, 0, 0, 0.3);
}


/***************** TEAM ****************/

.team {
    background-color: rgba(96, 104, 247, 0.836);
    box-shadow: inset 0 0 3rem rgb(0, 0, 0, 0.4);
}

.team_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team_member {
    background: #070f2b;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.team_member:hover {
    background:transparent;
    border-color: rgb(146, 169, 245);
}

.team_member-image img {
    filter: saturate(0);
}
