*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: lightblue;
}

.login-container {
	width: 420px;
	background: blue;
	color: white;
	border-radius: 14px;
	padding: 30px 45px;
}

.login-container h2 {
	font-size: 40px;
	text-align: center;
}

.login-container .input-group {
	width: 100%;
	height: 50px;
	margin: 30px 0;
	position: relative;
}


.input-group input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	padding: 20px 40px 20px 20px;
}

.input-group i {
	position: absolute;
	right: 20px;
	top: 80%;
	transform: translate(-50%);
	font-size: 20px;
}

.input-group label {
	margin-left: 20px;
}

.login-container .btn {
	width: 100%;
	height: 45px;
	background: white;
	border: none;
	outline: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 12px;
	color: black;
	margin-top: 20px; 
	font-weight: 500;
}


.login-container .register-link {
	font-size: 17px;
	text-align: center;
	margin-top: 20px;
}

.register-link p a {
	color: white;
	font-weight: 600;
	#text-decoration: none;
}

.register-link p a {
	text-decoration: underline;
}

