body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
	display: flex;
	justify-items: center;
	margin: 0;
    padding: 0;
}

.container {
    width: 80%;
	text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.logout-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.profile {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
 }


.logout-link:hover {
    background-color: #0056b3;
}

.profile:hover {
	background-color: #0056b3;
}

.delete {
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

 /* Style the delete button */
.delete-btn {
	background-color: red;
	color: red;
	border: none;
    padding: 10px 20px;
    border-radius: 5px;
   	cursor: pointer;
    font-size: 16px;
	}

/* Style the delete button on hover */
.delete-btn:hover {
	background-color: #ff473d; /* Darker red color */
	}
