* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 1.7;
    color: white;
    background: #070f2b;    
   
}

.container {
    width: 90%;
    margin: 0 auto;
}


ul {
    list-style: none;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

a {
    color: white;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all;
}

.btn:hover {
    background: transparent;
    color: white;
    border-color: white;

}

.btn-primary {
    background: red;
    color: white;
}

/*********** NAV BAR *******************/

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 3rem;
}

.menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.menu a:hover {
    color: blueviolet;
}

.window-scroll {
	background: rgba(96, 104, 247);
    box-shadow: 0 1rem 2rem rgb(39, 37, 44);
    ;
}

/* ********************* HEADER ***************** */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.left p {
    margin: 1rem 0 2.4rem;
}

.icon-img {
    width: 50px; 
    height: auto; 
}


/* ************************* CATEGORIES ***************************/

.categories {
    background: #1B1A55;
    padding-left: 3.5rem; 
    padding-right: 3.5rem;
    height: 40rem;
}

.categories h1 {
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__containers {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.categories__left p {
    margin: 1rem 0 3rem;
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.category {
    background:rgba(96, 104, 247, 0.836);
    padding: 1.2rem;
    border-radius: 2rem;
    transition: all 400ms ease;
}

.category:hover {
    box-shadow: 0 2rem 3rem rgb(89, 124, 240);
}

.category h5 {
    margin: 0.5rem 0 1rem;
}

.category p {
    font-size: 0.8rem;
}


/* ***********************POPULAR SUBJECT ********************/

.courses {
    
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: rgba(96, 104, 247, 0.836);
    text-align: center;
    border: 1px solid transparent;
    transition:  400ms ease;
}

.course:hover {
    background: transparent;
    border-color: rgb(23, 23, 233);
}

.course_info {
    padding: 1.5rem;
}

.course_info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}


/************************TESTIMONIALS*******************/

.testimonials_container {
    overflow: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid rgb(141, 129, 243);
}

.testimonial_info {
    text-align: center;
}

.testimonial_body {
    background:  rgba(96, 104, 247, 0.836);
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial_body::before {
    content: "";
    display: block;
    background: linear-gradient(transparent, rgba(96, 104, 247, 0.836),  rgba(96, 104, 247, 0.836));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/************FOOTER*******************/

footer {
    background:  rgba(96, 104, 247, 0.836);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer_container > div h4 {
    margin-bottom: 1.2rem;
}

.footer_1 p {
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;

}

.footer_copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid red;
}
