<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sciencelinx</title>
  
  <!--Gooogle fonts; Nunito-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="container nav_container">
          <a href="home.html"><h4>Sciencelinx</h4></a>
          <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="courses.html">courses</a></li>
            <li><a href="Resources.html">Resources</a></li>
            <li><a href="quizzes.html">quizzes</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="contact.html">contact</a></li>
          </ul>
        </div>
    </nav>

    <header>
        <div class="container header__container">
          <div class="left">
            <h1>Learn today and your future self will thank you tomorrow</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Autem impedit quod inventore veniam vel saepe asperiores praesentium ea quos 
              voluptates dolore labore soluta eius ullam libero, rerum quae nam porro.
            </p>
            <a href="courses.html" class="btn btn-primary">Get Started</a>
          </div>
          <div class="right">
            <div class="right_image">
              <img src="../static/images/header.svg">
            </div>

          </div>
        </div>
    </header>


    <section class="categories">
      <div class="container categories__containers">
        <div class="categories__left">
          <h1>CATEGORIES</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore dolor repellendus atque neque
            necessitatibus ex quas voluptate itaque ut numquam?
          </p>
        </div>

          <div class="categories__right">
            <article class="category">
              <span class="category__icon"></span>
              <h5>Chemistry</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
            </article>

          </div>
      </div>
    </section>
</body>
</html>