<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScholarNet</title>
  
  <!--Gooogle fonts; Nunito-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/about.css">

</head>

<body>
    <nav>
        <div class="container nav_container">
          <a href="/home"><h2>SCHOLARNET</h2></a>
          <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/Profile">Profile</a></li>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </nav>


    <section class="about_achievements">
        <div class="container about_achievements-container">
            <div class="about_achievements-left">
                <img src="../static/images/about1.svg">
            </div>

            <div class="about_achievements-right">
                <h1>Our Vision</h1>
                <p>
                    At SCIENCELINX, our vision is to revolutionize the way students engage with science
					and academia. We believe that every student deserves access to high-quality 
					educational resources that inspire curiosity, foster learning, and empower success.
					Our goal is to create a vibrant online platform where students 
					of all ages and backgrounds can explore, discover, and excel in their scientific pursuits.
                </p>

                <div class="about_achievements_cards">
                    <article class="achievements_card">
                        <span class="icon"><img src="../static/images/video.svg" alt="Icon Name" class="icon-img"></span>
                        <h3>300+</h3>
                        <p>Topics</p>
                    </article>

                    <article class="achievements_card">
                        <span class="icon"><img src="../static/images/user.svg" alt="Icon Name" class="icon-img"></span>
                        <h3>600+</h3>
                        <p>Students</p>
                    </article>
               
            </div>
        </div>

    </section>


    <!----------------------------TEAM---------------------------------->

    <section class="team">
        <h2>Meet Our Team</h2>
        <div class="container team_container">
            <article class="team_member">
                <div class="team_member_image">
                    <img src="../static/images/avatar1.jpg">
                </div>
                <div class="team_member_info">
                    <h4>Daniel Boateng</h4>
                    <p>Biology Consultant</p>
                </div>
            </article>

            <article class="team_member">
                <div class="team_member_image">
                    <img src="../static/images/avatar5.jpg">
                </div>
                <div class="team_member_info">
                    <h4>Emmanuel Mensah</h4>
                    <p>Physics Consultant</p>
                </div>
            </article>

            <article class="team_member">
                <div class="team_member_image">
                    <img src="../static/images/avatar6.jpg">
                </div>
                <div class="team_member_info">
                    <h4>Ishmael Blankson</h4>
                    <p>Chemistry Consultant</p>
                </div>
            </article>

            <article class="team_member">
                <div class="team_member_image">
                    <img src="../static/images/avatar5.jpg">
                </div>
                <div class="team_member_info">
					<h4>Yaw Asomaning</h4>
                    <p>Mathematics Consultant</p>
                </div>
            </article>

           
        </div>
    </section>


    <footer class="footer">
        <div class="container footer_container">
          <div class="footer_1">
            <a href="index.html" class="footer_logo"><h4>SCHOLARNET</h4></a>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Esse alias quis exercitationem illum incidunt dolorum officia,
              dolorem voluptatum quo delectus?
            </p>
          </div>
  
          <div class="footer_2">
            <h4> Permalinks </h4>
            <ul class="Permalinks">
              <li><a href="home.html">Home</a></li>
              <li><a href="courses.html">Courses</a></li>
              <li><a href="Resources.html">Resources</a></li>
              <li><a href="quizzes.html">Quizzes</a></li>
            </ul>
          </div>
  
          <div class="footer_3">
            <h4> Privacy </h4>
            <ul class="privacy">
              <li><a href="a">Privacy Policy</a></li>
              <li><a href="a">Terms and conditions</a></li>
              <li><a href="a">Refund Policy</a></li>
            </ul>
          </div>
  
          <div class="footer_4">
            <h4> Contact Us</h4>
            <div>
              <p>+23354673739</p>
              <p>Scholarnet@gmail.com</p>
            </div>
            
          </div>
  
          <div class="footer_copyright">
            <small>Copyright &copy; ScholarNet</small>
          </div>
  
        </div>
      </footer>
  
  
    <script src="../static/javascript/header.js"></script>
          
</body>
</html>
