<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SCIENCELINX</title>
  
  <!--Gooogle fonts; Nunito-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <!--Swiper js-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="container nav_container">
          <a href="/home"><h4>SCIENCELINX</h4></a>
          <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/profile">Profile</a></li>
			<li><a href="/about">About</a><li>
          </ul>
        </div>
    </nav>

    <header>
        <div class="container header__container">
          <div class="left">
            <h1>Learn today and your future self will thank you tomorrow</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Autem impedit quod inventore veniam vel saepe asperiores praesentium ea quos 
              voluptates dolore labore soluta eius ullam libero, rerum quae nam porro.
            </p>
            <a href="courses.html" class="btn btn-primary">Get Started</a>
          </div>
          <div class="right">
            <div class="right_image">
              <img src="../static/images/home12.svg">
            </div>

          </div>
        </div>
    </header>

<!----------------------------CATEGORIES--------------------------------->

    <section class="categories">
      <div class="container categories__containers">
        <div class="categories__left">
          <h1>CATEGORIES</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore dolor repellendus atque neque
            necessitatibus ex quas voluptate itaque ut numquam?
          </p>
        </div>

          <div class="categories__right">
            <article class="category">
              <span class="category__icon"></span>
              <span class="icon"><img src="../static/images/beaker.svg" alt="Icon Name" class="icon-img"></span>
              <h5>Chemistry</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
            </article>

            
            <article class="category">
              <span class="category__icon"></span>
              <span class="icon"><img src="../static/images/beaker.svg" alt="Icon Name" class="icon-img"></span>
              <h5>Biology</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
            </article>

            
            <article class="category">
              <span class="category__icon"></span>
              <span class="icon"><img src="../static/images/beaker.svg" alt="Icon Name" class="icon-img"></span>
              <h5>Physics</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
            </article>

            
            <article class="category">
              <span class="category__icon"></span>
              <span class="icon"><img src="../static/images/beaker.svg" alt="Icon Name" class="icon-img"></span>
              <h5>Mathematics</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
            </article>

            
            <article class="category">
              <span class="category__icon"></span>
              <span class="icon"><img src="../static/images/beaker.svg" alt="Icon Name" class="icon-img"></span>
              <h5>IT</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, amet.</p>
              </article>
          </div>
      </div>
    </section>


    <!--****************************POPULAR SUBJECTS***********************************-->
    <section class="courses">
      <h2>Popular Subjects</h2>
      <div class="container courses__container">
        <article class="course">
          <div class="course__image">
            <img src="../static/images/physics.jpg">
          </div>

          <div class="course_info">
            <h4>Liner Motion</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptate exercitationem iure blanditiis provident 
              esse quos laboriosam facere, cupiditate recusandae voluptas.
            </p>
            <a href="course.html" class="btn btn-primary">Learn More</a>
          </div>
        </article>


        <article class="course">
          <div class="course__image">
            <img src="../static/images/plant.jpg">
          </div>
          <div class="course_info">
              <h4>Plant Physiology</h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptate exercitationem iure blanditiis provident 
                esse quos laboriosam facere, cupiditate recusandae voluptas.
              </p>
              <a href="course.html" class="btn btn-primary">Learn More</a>

            </div>

        </article>


        <article class="course">
          <div class="course__image">
            <img src="../static/images/chmistry1.jpg">
          </div>

          <div class="course_info">
            <h4>Acid Bases and Salt</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptate exercitationem iure blanditiis provident 
              esse quos laboriosam facere, cupiditate recusandae voluptas.
            </p>
            <a href="course.html" class="btn btn-primary">Learn More</a>
          </div>
        </article>
      </div>
    </section>

<!--**************************** FAQ ***********************************-->

<section class="faqs">
  <h2>Frequently Asked Questions</h2>
  <div class="container faq_container">
    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>

    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>

    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>

    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>

    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>

    <article class="faq open">
      <img src="">
      <div class="question">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, ipsam.</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ab, in saepe facilis, ratione quibusdam dicta doloribus expedita quis 
          enim voluptatibus maxime consectetur numquam ex perferendis magni illum
        </p>
      </div>
    </article>
  </div>
</section>


<!--**************************** MESSAGES ***********************************-->

  <section class="container testimonials_container mySwiper">
    <h2> MESSAGES FROM PAST STUDENTS</h2>
    <div class="swiper-wrapper">
      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="../static/images/avatar1.jpg">
        </div>
        <div class="testimonial_info">
          <h5> Daniel Boateng</h5>
          <small> Year 2018</small>
        </div>
        <div class="testimonial_body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Numquam, accusamus, quidem dignissimos autem esse illum corporis
            omnis delectus alias facere odit neque harum eveniet incidunt
            fugit quia totam soluta officia.
          </p>
        </div>
      </article>

      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="../static/images/avatar2.jpg">
        </div>
        <div class="testimonial_info">
          <h5> Mavis Yeboah</h5>
          <small>Year 2017</small>
        </div>
        <div class="testimonial_body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Numquam, accusamus, quidem dignissimos autem esse illum corporis
            omnis delectus alias facere odit neque harum eveniet incidunt
            fugit quia totam soluta officia.
          </p>
        </div>
      </article>

      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="../static/images/avatar3.jpg"> 
        </div>
        <div class="testimonial_info">
          <h5> Matilda Osei</h5>
          <small>Year 2015</small>
        </div>
        <div class="testimonial_body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Numquam, accusamus, quidem dignissimos autem esse illum corporis
            omnis delectus alias facere odit neque harum eveniet incidunt
            fugit quia totam soluta officia.
          </p>
        </div>
      </article>

      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="../static/images/avatar4.jpg">
        </div>
        <div class="testimonial_info">
          <h5> Frederick Donkoh</h5>
          <small>Year 2021</small>
        </div>
        <div class="testimonial_body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Numquam, accusamus, quidem dignissimos autem esse illum corporis
            omnis delectus alias facere odit neque harum eveniet incidunt
            fugit quia totam soluta officia.
          </p>
        </div>
      </article>

      <article class="testimonial swiper-slide">
        <div class="avatar">
          <img src="../static/images/avatar5.jpg">
        </div>
        <div class="testimonial_info">
          <h5> Patrick Armah</h5>
          <small>Year 2017</small>
        </div>
        <div class="testimonial_body">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Numquam, accusamus, quidem dignissimos autem esse illum corporis
            omnis delectus alias facere odit neque harum eveniet incidunt
            fugit quia totam soluta officia.
          </p>
        </div>
      </article>
    </div>
    <div class="swiper-pagination"></div>
  </section>

    <footer class="footer">
      <div class="container footer_container">
        <div class="footer_1">
          <a href="index.html" class="footer_logo"><h4>SCIENCELINX</h4></a>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Esse alias quis exercitationem illum incidunt dolorum officia,
            dolorem voluptatum quo delectus?
          </p>
        </div>

        <div class="footer_2">
          <h4> Permalinks </h4>
          <ul class="Permalinks">
            <li><a href="home.html">Home</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="Resources.html">Resources</a></li>
            <li><a href="quizzes.html">Quizzes</a></li>
          </ul>
        </div>

        <div class="footer_3">
          <h4> Privacy </h4>
          <ul class="privacy">
            <li><a href="a">Privacy Policy</a></li>
            <li><a href="a">Terms and conditions</a></li>
            <li><a href="a">Refund Policy</a></li>
          </ul>
        </div>

        <div class="footer_4">
          <h4> Contact Us</h4>
          <div>
            <p>+23354673739</p>
            <p>Sciencelinx@gmail.com</p>
          </div>
          
        </div>

        <div class="footer_copyright">
          <small>Copyright &copy; Sciencelinx</small>
        </div>

      </div>
    </footer>





  <script src="../static/javascript/header.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


     <!-- Initialize Swiper -->

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 30,
      pagination: {
      el: ".swiper-pagination",
      clickable: true,
      },

      breakpoints: {
        600: {
            slidesPerView: 2
        }
      }
    });
  </script>
</body>
</html>
