<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SCHOLARNET</title>
  
  <!--Gooogle fonts; Nunito-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
 <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!--Swiper js-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="container nav_container">
          <a href="/home"><h2>SCHOLARNET</h2></a>
          <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="/quizzes">Quizzes</a></li>
            <li><a href="/profile">Profile</a></li>
			<li><a href="/about">About</a><li>
			<li><a href="/login">Login</a><li>
		  </ul>
        </div>
    </nav>

    <header>
        <div class="container header__container">
          <div class="left">
			<h1>Ignite Your Curiosity,
				Fuel Your Future.</h1>
            <p>
			Every step you take towards knowledge is a leap towards success. 
			Embrace learning, empower yourself, and let your brilliance shine!
            </p>
            <a href="/login" class="btn btn-primary">Get Started</a>
          </div>
          <div class="right">
            <div class="right_image">
              <img src="../static/images/background2.svg">
            </div>

          </div>
        </div>
    </header>


		<!-- Available Subjects section -->
<section class="categories">
    <h2>Available Subjects</h2>
    <div class="container subject-grid">
	  <a href="/math">
        <div class="subject-box">
            <h3>Mathematics</h3>
          	<img src="static/images/mathematics.svg" alt="Mathematics Icon">
            <p> Dive into the fascinating world of numbers, equations, and problem-solving. Explore mathematical concepts that govern the universe and sharpen your analytical skills.</p>
        </div>
	 </a>
        <div class="subject-box">
            <h3>Chemistry</h3>
            <img src="static/images/chemistry.svg" alt="Chemistry Icon">
            <p> Embark on a journey to uncover the secrets of matter and its interactions. Discover the building blocks of life and explore the wonders of chemical reactions.</p>
        </div>
        <div class="subject-box">
            <h3>Physics</h3>
            <img src="static/images/physics-class.svg" alt="Physics Icon">
            <p> Explore the fundamental laws that govern the universe, from the smallest particles to the vastness of space. Delve into the realms of energy, motion, and forces that shape our world.</p>
        </div>
        <div class="subject-box">
            <h3>Biology</h3>
            <img src="static/images/energy.svg" alt="Biology Icon">
            <p> Discover the intricate web of life and explore the wonders of living organisms.
			From microscopic cells to complex ecosystems, delve into the mysteries of biology.</p>
        </div>
        <div class="subject-box">
            <h3>Geography</h3>
            <img src="static/images/earth.svg" alt="IT Icon">
            <p>Embark on a journey to explore the Earth's diverse landscapes, climates, and cultures.
			Dive into the study of maps, climates, and human-environment interactions</p>
        </div>
        <div class="subject-box">
            <h3>IT</h3>
            <img src="static/images/it.svg" alt="Earth">
            <p>Enter the world of technology and innovation, where creativity meets problem-solving.
			Explore the latest advancements in computing, networking, and digital systems.</p>
        </div>
		<div class="subject-box">
			<h3>Agriculture</h3>
			<img src="static/images/crops.svg" alt="Earth">
			<p>Dive into the world of agriculture and cultivate a deeper understanding 
			of sustainable food production and environmental stewardship.
			</p>
		</div>

		<div class="subject-box">
             <h3>Economics</h3>
              <img src="static/images/econs.svg" alt="Earth">
              <p>Explore the dynamics of economics and unravel the intricate 
			  connections shaping global markets, trade, and financial systems
              </p>
         </div>
	</div>

</section>
 


	<!--****************************POPULAR SUBJECTS***********************************-->
    <section class="courses">
      <h2>Popular Topics</h2>
      <div class="container courses__container">
        <article class="course">
          <div class="course__image">
            <img src="../static/images/physics.jpg">
          </div>

          <div class="course_info">
            <h4>Linear Motion</h4>
            <p>
              Explore the concept of objects moving along a straight path, characterized by 
			  constant velocity or acceleration. Discover how linear motion is fundamental 
			  to understanding the dynamics of everyday objects in motion
            </p>
            <a href="course.html" class="btn btn-primary">Learn More</a>
          </div>
        </article>


        <article class="course">
          <div class="course__image">
            <img src="../static/images/plant.jpg">
          </div>
          <div class="course_info">
              <h4>Plant Physiology</h4>
              <p>
               Delve into the fascinating world of plant biology and discover the inner workings of plants.
			   Learn about processes such as photosynthesis, transpiration, and nutrient uptake, 
			   and explore how plants adapt to their environment to thrive and survive
              </p>
              <a href="course.html" class="btn btn-primary">Learn More</a>

            </div>

        </article>


        <article class="course">
          <div class="course__image">
            <img src="../static/images/chmistry1.jpg">
          </div>

          <div class="course_info">
            <h4>Acid Bases and Salt</h4>
            <p>
              Explore the fascinating world of acids, bases, and salts. Learn about their properties, 
			  chemical reactions, and their importance in various industries and everyday life. 
			  Dive into the pH scale and understand the role of these substances in maintaining chemical balance.
            </p>
            <a href="course.html" class="btn btn-primary">Learn More</a>
          </div>
        </article>
      </div>
    </section>

  <div class="swiper-pagination"></div>
  </section>

    <!-- Footer -->
  <footer class="footer">
      <div class="container footer_container">
        <div class="footer_1">
          <a href="index.html" class="footer_logo"><h4>SCHOLARNET</h4></a>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Esse alias quis exercitationem illum incidunt dolorum officia,
            dolorem voluptatum quo delectus?
          </p>
        </div>

        <div class="footer_2">
          <h4> Permalinks </h4>
          <ul class="Permalinks">
            <li><a href="home.html">Home</a></li>
            <li><a href="courses.html">Courses</a></li>
            <li><a href="Resources.html">Resources</a></li>
            <li><a href="quizzes.html">Quizzes</a></li>
          </ul>
        </div>

        <div class="footer_3">
          <h4> Privacy </h4>
          <ul class="privacy">
            <li><a href="a">Privacy Policy</a></li>
            <li><a href="a">Terms and conditions</a></li>
          </ul>
        </div>

        <div class="footer_4">
          <h4> Contact Us</h4>
          <div>
            <p>+23354673739</p>
            <p>Sciencelinx@gmail.com</p>
          </div>
          
        </div>

        <div class="footer_copyright">
          <small>Copyright &copy; Scholarnet</small>
        </div>

      </div>
    </footer>


  <script src="../static/javascript/header.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


     <!-- Initialize Swiper -->

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 30,
      pagination: {
      el: ".swiper-pagination",
      clickable: true,
      },

      breakpoints: {
        600: {
            slidesPerView: 2
        }
      }
    });
  </script>
</body>
</html>
